<app-buyer-navbar></app-buyer-navbar>

<div class="bootstrap-wrapper">
    <div class="container-fluid">
        <div class="row" >
            <div class="col-md-6 offset-md-3">
                <mat-card>
                <h1 class="text-center">Login Here!!</h1>
               
                <form (ngSubmit)="formSubmit(buyer)">
                    <div class="col-12 offset-md-4">
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Email</mat-label>
                            <input required [(ngModel)]="buyer.email" name="email"  matInput placeholder="Enter firstName">
                            
                          </mat-form-field>
                    </div>
                    <div class="col-12 offset-md-4">
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Mobile Number</mat-label>
                            <input required [(ngModel)]="buyer.phone" name="phone" type="number" matInput placeholder="Enter phone number">
                          </mat-form-field>
                    </div>
                      

                      <div class="container text-center">
                        <button type="submit" mat-raised-button color="primary">Login</button>
                        
                      </div>
                </form>
            </mat-card>
            </div>
            
            
        </div>
    </div>
</div>

